:root {
  --main-color: #3498db;
  --sub-color: #ff874d;
  --green-color: #60d7a9;
  --white-color: #f5f5f5;
  --black-color: #464646;
  --gray-color: #545454;
  --red-color: #cc3837;
  --skin-color: hsl(30, 100%, 80%);
  --color: #7bb7fa;
}

h2 {
  color: var(--main-color);
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 48px;
}

a {
  color: var(--color);
}

body {
  /* common background color */
  background: var(--white-color);
}

.title {
  background: var(--black-color);
  color: var(--main-color);
}

.overlay {
  background-color: #0000
}

figure img {
  height: 240px;
}

li {
  font-family: Roboto, sans-serif, "Noto Sans Japanese", YuGothic, "Yu Gothic";
  margin-bottom: 24px;
}

li strong {
  color: var(--red-color);
}

.section-title {
  color: var(--skin-color);

  & > h2 {
    color: var(--green-color);
  }
}

.link {
  color: var(--sub-color);
}

.presenter-host {
  width: 70%;
}

/* overwrite */
.grid {
  width: 100%;
}

span.title {
  background: inherit;
}

.capture-screen-image {
  border: 2px solid #333;
  width: 70%;
}
